python-dotenv
requests
jinja2
jsonschema
typing_extensions
google-genai
json-repair
pydantic
fastapi
uvicorn
evdev
pyscreenshot
pillow
InquirerPy
asyncio
asyncpg
aiofiles
sounddevice
soundfile
numpy
opencv-python
google-cloud-texttospeech
pydub
absl-py
pulsectl